body {
	background-color: black;
	color: #E0EAF0;
	font-family: sans-serif;
}
button {
	width: 3em;
	height: 2em;
	border: 1px outset #1A1C1F;
	border-radius: 1px;
	outline: none;
	background-color: #1A1C1F;
	color: inherit;
	font-family: inherit;
	font-size: 24px;
}
	button:active {
		border-style: inset;
		border-color: #2A4060;
		background-color: #2A4060;
	}

#vid, #canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	transition-property: bottom;
	transition-duration: 0.25s;
}
	.noToolbar #video, .noToolbar #canvas {
		bottom: 0;
	}
#toolbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3em;
	padding: 0.1em;
	
	background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:    -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:     -ms-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:      -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:         linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	
	text-align: center;
	white-space: nowrap;
}
.toolbarGroup {
	display: inline-block;
}

.shape {
	position: fixed;
	
	border-radius: 1px;
	border: 2px solid lime;
	box-shadow: 0 1px 2px 0 lime,
		inset 0 1px 2px 0 lime,
		0 1px 4px 0 rgba(0,0,0,0.2),
		inset 0 1px 4px 0 rgba(0,0,0,0.2);
}
	.shape.ellipse {
		border-radius: 50%;
	}