body {
	margin: 0;
	border: 0 none;
	padding: 0;
	
	background-color: black;
	color: #e0eaf0;
	font-family: sans-serif;
}
kbd {
	display: inline-block;
	padding: 0 8px;
	margin: 0 2px;
	border-radius: 2px;
	background-color: rgba(128, 128, 128, 0.25);
	font: inherit;
}
a {
	color: #94b2f2;
}
button,
select {
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
	
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	background: transparent;
	border: 0 none;
	outline: none;
	color: inherit;
	cursor: pointer;
	
	/* Slight ink ripple effect when button is deselected */
	box-shadow: inset 0 0 0 0 #2a4060;
	transition-property: box-shadow;
	transition-duration: 0.15s;
}
	button:hover,
	button:focus,
	select:hover,
	select:focus {
		background-color: #1a1c1f;
		background-color: rgba(26, 28, 31, 0.5);
	}
	button:active,
	select:active {
		background-color: #2a4060;
		background-color: rgba(42, 64, 96, 0.5);
	}
	button:disabled,
	select:disabled {
		background: transparent;
		opacity: 0.75;
		cursor: default;
	}
	button.selected {
		background-color: #2a4060;
		box-shadow: inset 0 0 1px 1.75rem #2a4060;
	}
	button img,
	button svg {
		width: 1.5rem;
		height: 1.5rem;
		pointer-events: none;
	}
select {
	-webkit-appearance: none;
	        appearance: none;
	width: auto;
	font-size: 1.125rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
#color-picker-btn.dark-color {
	stroke: #ffffff;
	stroke-width: 0.5px;
}

#vid,
#canvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	touch-action: none;
}
#toolbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3em;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:    -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:     -ms-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:      -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	background-image:         linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5), rgba(0,0,0,0.6));
	
	text-align: center;
	white-space: nowrap;
	user-select: none;
	
	opacity: 1;
	
	transition-property: bottom, opacity;
	transition-duration: 0.25s;
}
	#toolbar.hidden {
		bottom: -4em;
		opacity: 0;
	}
	#toolbar div button,
	#toolbar div select {
		vertical-align: middle;
	}

/* Inputs triggered by other buttons. */
#vid-upload {
	display: none;
}
/* Color picker does not appear in the right place on desktop if display: none. */
#color-picker {
	width: 0;
	visibility: hidden;
	pointer-events: none;
}

#info-sheet {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	
	padding: 1em;
	line-height: 150%;
	
	background-color: #272727;
	box-shadow: 0 -640px 640px 640px rgba(0, 0, 0, 0.5);
	
	transition-property: transform;
	transition-duration: 0.2s;
}
	#info-sheet.hidden {
		transform: translateY(100%);
		box-shadow: none;
		pointer-events: none;
	}
	#info-sheet img {
		width: 1.5em;
		height: 1.5em;
		margin: -0.4em 0;
	}

.shape {
	position: fixed;
	
	border-radius: 1px;
	border: 2px solid;
	box-shadow: 0 1px 2px 0,
		inset 0 1px 2px 0,
		0 1px 4px 0 rgba(0,0,0,0.2),
		inset 0 1px 4px 0 rgba(0,0,0,0.2);
}
	.shape.ellipse {
		border-radius: 50%;
	}
